@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;

    margin: 0;
    padding: 0;
}

 html, body{
   background-color: lightgrey;
   
}

header {
    background-color: grey;
}

header > h1 {
    padding: 10px;
    text-align: center;
}

i#burguer {
    display: block;
    background-color: rgb(71, 67, 67);
    text-align: center;
    color: white;
}

i#burguer:hover {
    background-color: white;
    color: black;
}


menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(99, 87, 87);
    color: white;
    text-align: center;
    border-top: 2px solid rgb(175, 175, 175);
}

menu > ul > li > a:hover {
    background-color: grey;
}

main { 
    width: 80vw;
    background: white;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

article > h2 {
    padding-bottom: 20px;
}

article > p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}