@charset "UTF-8";

    /*Config gerais*/
     * {
        margin: 0;
        padding: 0;
    }

    html, body {
        width: 100vw;
        height: 100vh;
        background-color: #233eFF;
    }

    h1 {
        color: white;
        text-shadow: 2px 2px 0 #263396;
        padding: 10px;
    }
     /*Config retrato*/
     @media screen and (orientation: portrait) {
        body {
    background: url(../imagens/cev-portrait.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
}
     }
     /*Config paisagem*/
     @media screen and (orientation: landscape){
        
body {
   background: url(../imagens/cev-landscape.jpg);
   background-position: left bottom;
}
     }

